<div class="search">
  <form #form="ngForm" (submit)="onSubmit()" >
    <input type="text" placeholder="Enter City" name="city" [(ngModel)]="cityName">
  </form>
</div>
<div class="container" *ngIf="weatherData">
  <div class="upper-data">
    <img src="../assets/RS39314_GettyImages-824845572-scr.jpg" alt="hot-day" *ngIf="weatherData.current.feelslike_f > 65">
    <img src="../assets/221220154109-01-cold-weather-safety.jpg" alt="cold-day" *ngIf="weatherData.current.feelslike_f <= 65">
    <div class="weather-data">
      <div class="location">{{ weatherData.location.name }}, {{ weatherData.location.region }}</div>
      <div class="country">{{ weatherData.location.country }}</div>
      <div class="feels-like">Feels Like</div>
      <div class="temperature">{{ weatherData.current.feelslike_f | number: '1.0-0' }}°F</div>
      <div class="condition">
        <img class="condition-image" src={{weatherData.current.condition.icon}} alt={{weatherData.current.condition.text}}>
        <div class="condition-text">Current: {{ weatherData.current.temp_f | number: '1.0-0' }}°F</div>
        <div class="condition-text">
          {{ weatherData.current.condition.text }}
        </div>
      </div>
    </div>
  </div>
  <div class="more-info-label">
    Last Update: {{ weatherData.current.last_updated }}
  </div>
  <div class="forecast">
    <a class="forecast-button" routerLink="current" routerLinkActive="active-link" (click)="isActive=1">
      Current
    </a>
    <a class="forecast-button" routerLink="hourly" routerLinkActive="active-link" (click)="isActive=2">Hourly
    </a>
    <a class="forecast-button" routerLink="threeday" routerLinkActive="active-link" (click)="isActive=3">3 Day
    </a>
  </div>
  <div class="lower-data">
    <app-current *ngIf="isActive === 1" class="more-info-container" [weatherData]="weatherData"></app-current>
    <app-hourly *ngIf="isActive === 2" class="more-info-container" [weatherData]="weatherData"></app-hourly>
    <app-three-day *ngIf="isActive === 3" class="more-info-container" [weatherData]="weatherData"></app-three-day>
  </div>
</div>
