<div class="container">
  <div class="upper-data">
    <img src="../assets/RS39314_GettyImages-824845572-scr.jpg" alt="hot-day" *ngIf="14 < 15">
    <img src="../assets/221220154109-01-cold-weather-safety.jpg" alt="cold-day" *ngIf="15 < 14">
    <div class="weather-data">
      <div class="location">City</div>
      <div class="temperature">{{ 67.30 | number: '1.0-0' }}°F</div>
    </div>
  </div>
  <div class="lower-data">
    <div class="more-info-label">
      Today
    </div>
    <div class="more-info-container">
      <div class="info-block">
        <div class="info-block-label">
          <span class="material-symbols-outlined" id="icon">ac_unit</span>
          <span>Min</span>
        </div>
        <div class="info-block-value">
          45°F
        </div>
      </div>
      <div class="info-block">
        <div class="info-block-label">
          <span class="material-symbols-outlined" id="icon">Air</span>
          <span>Wind</span>
        </div>
        <div class="info-block-value">
          12 mph
        </div>
      </div>
      <div class="info-block">
        <div class="info-block-label">
          <span class="material-symbols-outlined" id="icon">sunny</span>
          <span>Max</span>
        </div>
        <div class="info-block-value">
          75°F
        </div>
      </div>
      <div class="info-block">
        <div class="info-block-label">
          <span class="material-symbols-outlined" id="icon">Water</span>
          <span>Humidity</span>
        </div>
        <div class="info-block-value">
          75%
        </div>
      </div>
    </div>
  </div>
</div>

<router-outlet></router-outlet>
